.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    border-radius: 3;
    background-color: #f5f7fb;
    box-shadow: 24;
    color: #727272;
    font-size: 16;
    font-weight: bold;
}

.sidebar.open {
    right: 0;
}
.box-visualmode {
    display: flex;
    align-items: center;
}

.box-cards-modal {
    overflow-y: auto;
    height: 420px;
    padding-bottom: 10px;
}

.box-card-modal {
    padding-top: 5px;
}

.box-header-card-modal {
    display: flex;
    justify-content: space-between;
}

.box-card-modal-delete-icon {
    display: flex;
    justify-content: flex-end;
}