.background {
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.background.open {
    width: calc(100% - 300px);
}

.background-blue {
    background-image: url("../../assets/cielo.jpg");
    background-repeat:repeat;
    height: 40%;
    width: 100%;
}

.box-options {
    width: 98%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

.icon {
    color: #ffff;
    padding-right: 5px;
}

.avatar {
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin-right: 5px;
}

.background-white {
    height: 60%;
    width: 100%;
}

.box-input {
    width: 40%;
    height: 50px;
    background: #FFFF;
    border-radius: 28px;
    padding-left: 19px;
    padding-right: 19px;
    border: 2px solid grey;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;

}

.box-input.open {
left: calc(50% - 150px);
}
.searchIcon {
    color: #6e7073;
    cursor: pointer;
}

.input {
    width: 70%;
    height: 28px;
    border-radius: 20px;
    font-weight: 700px;
    font-size: 18px;
    padding-left: 10px;
    letter-spacing: 0.02rem;
    color: grey;
    border: none;
}

.input:focus {
    outline: none
}