.sidebar {
    position: fixed;
    top: 0;
    right: 300px;
    width: 300px;
    height: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    border-radius: 3;
    box-shadow: 24;
    color: #727272;
    font-size: 16;
    font-weight: bold;
    background-color: #ffff !important;
}

.sidebar.open {
    right: 0;
    box-shadow: -1px 0px 2px 0px #d1d1d1;
}

.box-visualmode {
    display: flex;
    align-items: center;
}

.box-cards-modal {
    padding-bottom: 10px;
    height: 100% !important;
}



.box-cards-close-icon {
    width: 95%;
    height: 55px;
    padding-top: 5px;
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-medium-cards {
    width: 100%;
    height: 77%;
    overflow-y: auto;
}

.box-card-modal {
    width: 97%;
    padding-top: 5px;
    padding-left: 5px;
    
}

.box-card-modal:hover{
    background-color: #fcfcfc;
    cursor: pointer;
}

.box-header-card-modal {
    width: 97%;
    display: flex;
    justify-content: space-between;
}

.box-card-modal-delete-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10%;
}